.button {
  border-radius: 4px;
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  color: whitesmoke;
  border-style: none;
  font-weight: 700;
}

.button--enabled {
  opacity: 1;
}

.button--disabled {
  opacity: 0.5;
}

.button--add {
  background-color: rgb(2, 140, 2);
}

.button--delete {
  background-color: red;
}
