<li
  [classList]="this.itemClass()"
  (click)="onSelectItem(id())"
  (dblclick)="$event.stopPropagation(); onDoubleClick()"
>
  <input
    type="checkbox"
    name="isCompleted"
    [checked]="isCompleted()"
    (change)="$event.stopPropagation();onCheckboxChange($event);"
    (click)="$event.stopPropagation();"
  />
  @if (isEditing()) {
    <input
      #editInput
      class="edit-input"
      type="text"
      [(ngModel)]="editText"
      (keyup.enter)="onSave()"
      (keyup.escape)="onCancel()"
    />
    <div class="edit-actions">
      <button
        type="button"
        (click)="onSave()"
        class="save-btn"
        [disabled]="!editText.trim()"
      >
        Save
      </button>
      <button type="button" (click)="onCancel()" class="cancel-btn">
        Cancel
      </button>
    </div>
  } @else {
    <span class="todo-text">{{ index() }}. {{ text() }}</span
    ><app-button
      appTooltip="Delete the item"
      type="delete"
      (clicked)="onDeleteItem()"
      >Delete</app-button
    >
  }
</li>
