<div class="todo-app">
  <h1>TODO Application</h1>

  <div class="filter-todo-section">
    <label class="filter-label" for="statusFilter"
      >Select TODO items with status:</label
    >
    <select
      id="statusFilter"
      name="statusFilter"
      (change)="onItemStatusFilterChanged($event)"
    >
      <option selected value="null">All items</option>
      <option value="InProgress">In Progress</option>
      <option value="Completed">Completed</option>
    </select>
  </div>

  <div class="main-content">
    <!-- Todo List Section -->
    <div class="todo-list-section">
      <h2>Todo Items</h2>
      @if (isLoading) {
        <app-loading-spinner> Loading todo items... </app-loading-spinner>
      } @else {
        <ul class="todo-list" id="todoList">
          @for (item of allItems(); track item.id) {
            <app-to-do-list-item
              appTooltip="{{ item.description }}"
              [id]="item.id"
              [index]="$index + 1"
              [isCompleted]="item.status === 'Completed'"
              [isEditing]="item.isEditing"
              [isSelected]="item.id === currentItemId()"
              [text]="item.text"
              (itemChecked)="onCheckedItem(item.id, $event)"
              (itemDeleted)="onDeleteItem($event)"
              (itemEdited)="onItemEdited($event)"
              (itemSelected)="onSelectItem($event)"
              (itemStartEditing)="onStartEditing($event)"
            />
          }
        </ul>
      }
    </div>

    <!-- Description Section -->
    <div class="description-section">
      <router-outlet />
    </div>
  </div>

  <app-add-to-do-item (itemAdded)="onAddItem($event)" />
</div>
