.container {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 800px;
  padding-top: 5px;
}

.flex_container {
  display: flex;
  border: 1px;
  border-color: black;
  border-style: solid;
}

.left_column {
  flex: 1;
}

.right_column {
  flex: 5;
}

.title {
  padding-left: 40px;
}

ul {
  list-style-type: none;
}

.input_section {
  margin-left: 40px;
  margin-bottom: 10px;
  border: 1px;
  border-color: blue;
  border-style: solid;
}

.text_edit {
  border-radius: 4px;
  width: 500px;
}

.footer {
  height: 10px;
}

.spinner-text {
  margin-left: 40px;
}

.loading-items-spinner {
  margin-left: 40px;
}
