.container {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 400px;
  padding-top: 5px;
}

.title {
  padding-left: 40px;
}

ul {
  list-style-type: none;
}

.item {
  display: inline-block;
  width: 300px;
  margin-bottom: 10px;
}

.item_description {
  padding: 6px 6px 6px 6px;
  background-color: lightgray;
  border-radius: 4px;
}

.button {
  border-radius: 4px;
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  color: whitesmoke;
  border-style: none;
  font-weight: 700;
}

.button--disabled {
  opacity: 0.5;
}

.button--add {
  background-color: rgb(2, 140, 2);
}

.button--delete {
  background-color: red;
}

.input_section {
  margin-left: 40px;
  margin-bottom: 10px;
}

.text_edit {
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
}


.footer {
  height: 10px;
}
