<div class="container">
<div class="title"><h1>Todo List</h1></div>
<section id="task_list">
  <ul>
    <li class="item">
      <span class="item_description">Buy a new gaming laptop</span><button type="button" class="delete_button">Delete</button>
    </li>
    <li class="item">
      <span class="item_description">Complete previous task</span><button type="button" class="delete_button">Delete</button>
    </li>
    <li class="item">
      <span class="item_description">Create some angular app</span><button type="button" class="delete_button">Delete</button>
    </li>
  </ul>
</section>
<section id="new_task">
  <div class="input_section">
    <input type="text" placeholder="Add your new todo" class="text_edit">
    <button class="add_button">Add task</button>
  </div>
</section>
<div class="footer">
</div>
</div>
